.body {
    position: absolute;

    display: flex;
    flex: 1;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    background-color: var(--color-bg-ghost);

    z-index: 13;  /*todo: Надо будет что-то придумать чтобы вычислять относительно предыдущего блока*/
}

.whiteBlock {
    width: 80%;
    height: 80%;

    border-radius: .4rem;

    background-color: var(--color-bg-default);
}

.main {
    display: flex;
    flex: 1;

    flex-direction: column;
    row-gap: .8rem;

    margin: .8rem;
}

.header {
    display: flex;
    flex: 1;

    justify-content: space-between;

    padding-bottom: .8rem;

    border-bottom: var(--control-border-width) solid var(--color-control-bg-border-default);
}

.leftSide {
    display: flex;
    flex: 1;
    align-items: center;

    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: .4rem;
}

.rightSide {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;

    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: .4rem;
}

.content {
    display: flex;
    flex: 1;

    justify-content: center;
    align-items: center;
}