.body {
    display: flex;
    flex: 1;
    height: 100vh;

    flex-wrap: nowrap;
    flex-direction: column;
    overflow: hidden;

    background-color: var(--color-bg-secondary);
}

.header {
    display: flex;

    width: 100%;
    height: 5vh;

    overflow: hidden;
}

.menu {
    display: flex;
    flex: 2;

    height: 90vh;

    overflow: hidden;
}

.main {
    display: flex;
    flex: 8;

    height: 90vh;

    overflow: hidden;
}

.footer {
    display: flex;

    width: 100%;
    height: 5vh;

    overflow: hidden;
}
